<!DOCTYPE html>
<html lang="en" ng-app="kukolicious">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Services | Kukolicious Nail and Spa</title>
	<meta name="description" content="nail salon website">
	<meta name="keywords" content="website project, bootstrap project">
	<meta name="author" content="Bernadette Engleman">
	<link rel="shortcut icon" href="../../img/beIcon.png">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="stylesheet.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>

<!-- Header -->
<header>
	<div class="nav-wrap">
		<h1>Kukolicious Nail and Spa</h1>
		<img src="img/kukolicious.jpg" alt="Kukolicious Nail and Spa" class="smallBrand">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Toggle Button -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarbtn">
						<span>Menu</span>
					</button>
				</div>

				<!-- Menu -->
				<div class="collapse navbar-collapse" id="navbarbtn">
					<ul class="nav navbar-nav">
						<li class="logo hidden-xs">
							<a href="index.html" class="smoothScroll">
								<img src="img/kukolicious.jpg" alt="Panettiere Bakeshop" class="brand">
							</a>
						</li>
						<li><a href="index.html" class="menu">Home</a></li>
						<li><a href="about.html" class="menu">About</a></li>
						<li><a href="services.html" class="menu">Services</a></li>
						<li><a href="gallery.html" class="menu">Gallery</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>

<!-- Services -->
<main ng-controller="servicesController as service" class="container pricelist">
	<img src="img/spaBanner1.jpg" alt="Nail Salon Banner" class="servicesBanner">

	<h2 class="indent">Services</h2>

	<section class="row">
		<!-- Nail Color Services -->
		<div ng-repeat="service in nailColor" class="col-sm-6 col-xs-12">
			<div services-list></div>
		</div>
	</section>

	<p>Prices ranges depending on detail of design</p>

	<div services-divider></div>

	<section class="row">
		<!-- Massage Services -->
		<div ng-repeat="service in massage" class="col-sm-6 col-xs-12">
			<div services-list></div>
		</div>
	</section>

	<div services-divider></div>

	<section class="row">
		<!-- Additional Charge -->
		<div ng-repeat="service in polish" class="col-sm-6 col-xs-12">
			<div services-list></div>
		</div>
	</section>

	<p>Tax not included in pricing</p>

	<img src="img/spaBanner.jpg" alt="Nail Salon Banner" class="servicesBanner">
</main>

<!-- Footer -->
<footer class="container text-center">
	<hr>
	<p class="salonName">Kukolicious Nail & Spa</p>
	<address>45 Rockefeller Plaza, New York, NY 10111</address>
	<p><small>Copyright © <span id="year"></span> Kukolicious Nail & Spa. All rights reserved.<br>
		<span class="small">Designed and created by:
			<a href="../../index.html" target="_blank">Bernadette Engleman</a><small>&#128279;</small>
		</span>
	</small></p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/kukolicious.js"></script>
<!-- AngularJS App -->
<script src="js/app.js"></script>
<script src="js/template.js"></script>

</body>

</html>
